body {
  background-color: #808000; /* olive color */
  font-family: Arial, sans-serif;
  color: #FFDAB9;
}

h1 {
  color: #BC8F8F; /* rosey brown*/
}

h2 {
  color: #FFDAB9; /* peachypuff */
}
h3 {
  color: #D2B48C;  /* tan */
}

