body {
  background-color: #BC8F8F; /* rosey brown*/
  font-family: Arial, sans-serif;
  color:#808000; /* olive green */
}

h1 {
  color: #CD853F; /* peru color */
}

h2 {
  color: #CD853F; /* peru color */
}
h3 {
  color: #8B4513;  /* saddlebrown */
}

/* Popup styles */
#popup {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #808000; /* olive green */
  color: #CD853F; /* peru color */
  border: 2px solid #D2B48C;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  z-index: 1000;
  display: none;
  font-family: Arial, sans-serif;
  text-align: center;
  border-radius: 10px;
}

#popup button {
  margin-top: 10px;
  padding: 5px 10px;
   color: #8B4513;  /* saddlebrown */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#popup button:hover {
  background-color: #A07070;
}
